@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  font-family: "Poppins";
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

.searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.5rem;
  z-index: 100;
}

.searchBox input {
  height: 4rem;
  width: 60vw;
  padding-left: 40px;
  border-radius: 50px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  margin-top: 30px;
  font-size: 0.8rem;
}

.searchBox input:hover {
  -webkit-box-shadow: 0px 50px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.searchBox input:focus {
  border: none;
  -webkit-box-shadow: 0px 50px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.searchBox button {
  margin-top: 30px;
  height: 4rem;
  width: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.searchBox button:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.searchBox button img {
  height: 1rem;
  width: 1rem;
}

.cards {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cards .card {
  background: rgb(18, 21, 38);
  background: linear-gradient(
    37deg,
    rgba(18, 21, 38, 1) 0%,
    rgba(72, 87, 170, 1) 100%
  );
  padding: 2rem;
  min-height: 40vh;
  min-width: 30vw;
  margin: 1rem;
  border-radius: 20px;
}

.cards .card h1 {
  color: #d393ad;
  margin-bottom: 0.5rem;
}

.cards .card h1 .category {
  color: #ffffff;
  font-size: smaller;
}

.cards .card .innerCard h3 {
  margin: 0.5rem;
  color: white;
}

.cards .card .innerCard h3 .category {
  color: white;
  font-size: larger;
}

.opening {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.opening h1 {
  position: absolute;
  -webkit-transform: translate(0, 30px);
  transform: translate(0, 30px);
  font-size: small;
}

.card:hover {
  transform: scale(1);
}

@media (max-width: 500px) {
  .opening h1 {
    font-size: 2rem !important;
    padding: 2%;
  }

  .cards {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }
  .cards::before {
    content: "Swipe for more";
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .cards .card {
    min-height: 50vh;
    min-width: 90vw;
    margin: 1rem;
  }
  .innerCard h3 {
    font-size: smaller;
  }
}

@media (min-width: 900px) {
  .opening h1 {
    font-size: large;
  }
}

/*# sourceMappingURL=css\style.css.map */
